<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Insider" verbose="1" >
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="util.AllureReportListener"/>
    </listeners>
    <parameter name="browser"  value="Chrome"/>
    <test name="insiderQAPageTest">
        <classes>
            <class name="tests.insiderQAPageTest"/>
        </classes>
    </test>
</suite>

